html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-accent-color: #2196f3; /*цвет для интерактивных элементов*/
    --alternative-text-color: #ffffff; /*второй главный цвет*/
    --header-text-color: #212121; /*переменная для цвета текста заголовков*/
    --main-paragraph-color: #757575; /*переменная для цвета текста в параграфах*/
    --main-text-color: #000000; /*Первый главный цвет*/
    --footer-bgr-color: #2f303a; /*цвет фона футера*/
    --portfolio-button-color: #f5f4fa; /*цвет кнопок на странице портфолио*/
    --portfolio-item-border: #eeeeee; /*цвет рамки карточек*/
    --team-section-bgr-color: #f5f4fa; /*цвет фона в секции наша команда*/
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* li {
    list-style: none;
} */

h1,
h2,
h3,
h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    /* padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px; */
}

/*

класс контейнер

*/
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

/*

                                КЛАССЫ ДЛЯ РАБОТЫ ХЕДЕРА

*/

.header-flex-container,
.header-link-list,
.nav-flex-container,
.footer-flex-container,
.hero-section,
.universal-list-item,
.advantages,
.team-socnetwork-list {
    display: flex;
}

/*утилитарный стиль для списков*/

.universal-list-item {
    justify-content: space-between;
}

.index-main-section {
    flex-wrap: wrap;
}

.section-index-paddings {
    padding-top: 94px;
    padding-bottom: 94px;
    /* background-color: tomato; */
}

.header-flex-container {
    align-items: center;
}

.header-contact {
    margin-left: auto;
}

.header-link-item {
    line-height: 80px;
}

.header-link-item:not(:last-child) {
    margin-right: 50px;
}

.nav-logo {
    align-items: center;
}

.nav-link {
    margin-left: 85px;
}

/*

                                КЛАССЫ ДЛЯ БЛОКА ГЕРОЙ

*/
.hero-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rosybrown;
}

.hero-section {
    padding-top: 300px;
    padding-bottom: 300px;
    flex-direction: column;
    align-items: center;
}

.hero-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
}

/*

                                КЛАССЫ ДЛЯ РАБОТЫ ФУТЕРА

*/

.footer-site {
    background-color: #2f303a;
    height: 253px;
}

.footer-address {
    margin-top: 48px;
}

/*
БЛОК ПРИСОЕДЕНЯЙТЕСЬ
*/
.footer-join-us {
    margin-top: 56px;
    margin-left: 69px;
}

.footer-join-us-list {
    margin-top: 21px;
}

.footer-join-us-item:not(:last-child) {
    margin-right: 10px;
}

.footer-header-join-us {
    text-transform: uppercase;
    color: var(--alternative-text-color);
}

/*
БЛОК ДЛЯ КЛАССОВ С ЛОГО И АДРЕССОМ 
*/
.footer-text-paragraph {
    font-style: normal;
}

.footer-link-address {
    display: block;
    margin-top: 9px;
}
/*

                                КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "НАШИ ПРЕИМУЩЕСТВА"

*/

/*
класс для элементов листа секции преимуществ
*/

.advantages-list-item {
    width: calc((100% - 90px) / 4);
}

.advantages-list-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}

.advantages-list-item h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
    margin-bottom: 10px;
}

.advantages-list-item p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
}

/* .advantages-list-item:not(:first-child) {
    margin-left: 30px;
} */

/*
класс для свойств параграфов на странице индекс в секции преимуществ
*/
.advantages-paragraph-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
}

/*

                        КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "ЧЕМ МЫ ЗАНИМАЕМСЯ"

*/

.work-list-item {
    width: calc((100% - 60px) / 3);
}

/*
                        КЛАСС ДЛЯ ТЕКСТА НАЛОЖЕННОГО НА КАРТИНКУ (ПОКА ОТКЛЮЧЕН)
*/

/* .work-list a {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: white;
    align-items: center;
    justify-content: center;
} */

/*

                        КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "НАША КОМАНДА"

*/

/*
класс для свойств заголовков Н3 на странице индекс в секции команды
*/
.team-header-text h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
}

/*
класс для свойств параграфов на странице индекс в секции команды
*/

.team-paragraph-text p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
    margin-bottom: 28px;
}

.team-list-item {
    padding-bottom: 24px;
    /* outline: 2px solid tomato; */
}

.team-section {
    background-color: var(--team-section-bgr-color);
}

.team-socnetwork-list {
    justify-content: space-evenly;
}

/*

                            КЛАССЫ ДЛЯ РАБОТЫ С СЕКЦИЕЙ ПОСТОЯННЫХ КЛИЕНТОВ

*/

.nav-project-styles {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0.06em;
    background-color: var(--portfolio-button-color);
    color: var(--header-text-color);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
}

.nav-project-styles:hover,
.nav-project-styles:focus {
    /* font-family: var(--main-text-font-family); */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0.06em;
    color: var(--alternative-text-color);
    background-color: var(--main-accent-color);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
}

.nav-porfolio-project {
    margin-top: 174px;
    /* align-items: center; */
    justify-content: center;
}

.nav-porfolio-project-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-projects {
    /* width: 370px; */
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--portfolio-item-border);
    /* background-color: cadetblue; */
}

/* .portfolio-projects a {
    display: block;
} */

.main-portfolio {
    margin-top: 50px;
    margin-bottom: 94px;
    display: flex;
    flex-wrap: wrap;
}

.portfolio-projects:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-projects:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: var(--main-text-color);
}

.logo-primary {
    color: var(--main-accent-color);
}

.link-header-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--header-text-color);
}

.link-header-text:hover,
.link-header-text:focus {
    color: var(--main-accent-color);
}

.hero-caption {
    width: 696px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--alternative-text-color);
}

.link-break-styles {
    color: var(--main-text-color);
}

.link-button {
    background-color: var(--main-accent-color);
    color: var(--alternative-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 4px;
    margin-top: 30px;
}

.text-header2-style h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--header-text-color);
    padding-top: 20px;
    padding-left: 20px;
}
.text-paragraph-style p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
    padding-left: 20px;
}

.footer-address-text p {
    -style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--alternative-text-color);
}

.footer-contacts-text a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.ul-break-style {
    margin: 0px;
}

/*
класс для свойств заголовков Н2 на странице индекс
*/

.main-header2-style {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
