html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --main-accent-color: #2196f3; /*цвет для интерактивных элементов*/
    --alternative-text-color: #ffffff; /*второй главный цвет*/
    --header-text-color: #212121; /*переменная для цвета текста заголовков*/
    --main-paragraph-color: #757575; /*переменная для цвета текста в параграфах*/
    --main-text-color: #000000; /*Первый главный цвет*/
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*
класс для свойств заголовков Н3 на странице индекс в секции преимуществ
*/
.advantages-header-text h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
}

/*

класс контейнер

*/
.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 188px;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

.container:last-child {
    margin-bottom: 94px;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.header-container div {
    justify-content: left;
}
/*

                                КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "НАШИ ПРЕИМУЩЕСТВА"

*/

/*
класс для флекс секции преимуществ
*/
.advantages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
класс для элементов листа секции преимуществ
*/

.advantages-list-item {
    width: 270px;
}

.advantages-list-item img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 55px;
}

.advantages-list-item h3 {
    margin-bottom: 10px;
}

.advantages-list-item p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .advantages-list-item:not(:first-child) {
    margin-left: 30px;
} */

/*
класс для свойств параграфов на странице индекс в секции преимуществ
*/
.advantages-paragraph-text p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
}

/*

                        КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "ЧЕМ МЫ ЗАНИМАЕМСЯ"

*/

.work-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-list-item {
    width: 370px;
    /* margin-right: 30px; */
}

.work-list-item:last-child {
    margin-right: 0px;
}

.work-list a {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: white;
    align-items: center;
    justify-content: center;
}

/*

                        КЛАССЫ ДЛЯ РАБОТЫ СЕКЦИИ "НАША КОМАНДА"

*/

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
класс для свойств заголовков Н3 на странице индекс в секции команды
*/
.team-header-text h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    margin-bottom: 10px;
}

/*
класс для свойств параграфов на странице индекс в секции команды
*/

.team-paragraph-text p {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
    margin-bottom: 28px;
}

.team-socnetwork-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 36px;
}

/*

                            КЛАССЫ ДЛЯ РАБОТЫ С СЕКЦИЕЙ ПОСТОЯННЫХ КЛИЕНТОВ

*/

.client-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-project-styles {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
}

.nav-project-styles:hover,
.nav-project-styles:focus {
    /* font-family: var(--main-text-font-family); */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 54px;
    letter-spacing: 0.06em;
    color: var(--alternative-text-color);
    background-color: var(--main-accent-color);
    padding: 0px;
    border-radius: 4px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: var(--main-text-color);
}

.logo-primary {
    color: var(--main-accent-color);
}

.link-header-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--header-text-color);
}

.link-header-text:hover,
.link-header-text:focus {
    color: var(--main-accent-color);
}

.hero-caption {
    text-transform: uppercase;
}

.link-break-styles {
    color: var(--main-text-color);
}

.link-button {
    background-color: var(--main-accent-color);
    color: var(--alternative-text-color);
    padding: 0px;
    border-radius: 4px;
}

.text-header2-style h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--header-text-color);
}
.text-paragraph-style p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-paragraph-color);
}

.footer-address-text p {
    -style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--alternative-text-color);
}

.footer-contacts-text a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.ul-break-style {
    margin: 0px;
}

/*
класс для свойств заголовков Н2 на странице индекс
*/

.main-header2-style {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
}
